<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="BASIC" label="COM_JTG_BASIC_CONFIGURATION">
		<field name="jtg_param_display_jtg_credits" type="radio"
			addfieldpath="/administrator/components/com_jtg/elements" default="1"
			label="COM_JTG_MENU_SHOW_JTRACKGALLERY_CREDIT" description="COM_JTG_TT_MENU_SHOW_JTRACKGALLERY_CREDIT">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field type="spacer" name="myspacer1" class="text"
			label="COM_JTG_MENUSPACER_APPEARANCE" />
		<field name="jtg_param_newest" type="text"
			addfieldpath="/administrator/components/com_jtg/elements" default="10"
			size="3" label="COM_JTG_MENU_NEWEST" description="COM_JTG_TT_MENU_NEWEST" />
		<field name="jtg_param_mostklicks" type="text"
			addfieldpath="/administrator/components/com_jtg/elements" default="10"
			size="3" label="COM_JTG_MENU_HITS" description="COM_JTG_TT_MENU_HITS" />
		<field name="jtg_param_best" type="text"
			addfieldpath="/administrator/components/com_jtg/elements" default="0"
			size="3" label="COM_JTG_MENU_BEST" description="COM_JTG_TT_MENU_BEST" />
		<field name="jtg_param_rand" type="text"
			addfieldpath="/administrator/components/com_jtg/elements" default="0"
			size="3" label="COM_JTG_MENU_RANDOM" description="COM_JTG_TT_MENU_RANDOM" />
		<field name="jtg_param_otherfiles" type="radio"
			addfieldpath="/administrator/components/com_jtg/elements" default="0"
			label="COM_JTG_MENU_RESTRICTEDFILES" description="COM_JTG_TT_MENU_RESTRICTEDFILES">
			<option value="0">JNO</option>
			<option value="1">COM_JTG_REGISTERED</option>
			<option value="2">JYES</option>
		</field>
		<field name="jtg_param_lh" type="radio"
			addfieldpath="/administrator/components/com_jtg/elements" default="1"
			label="COM_JTG_MENU_LH" description="COM_JTG_TT_MENU_LH">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="jtg_param_vote_show_stars" addfieldpath="/administrator/components/com_jtg/elements"
			type="radio" default="0" label="COM_JTG_MENU_VOTE_SHOW_STARS"
			description="COM_JTG_TT_MENU_SHOW_STARS">
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>
		<field name="jtg_param_disable_terrains" addfieldpath="/administrator/components/com_jtg/elements"
			type="radio" default="O" label="COM_JTG_MENU_DISABLE_TERRAINS"
			description="COM_JTG_TT_MENU_DISABLE_TERRAINS">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="jtg_param_show_speedchart" addfieldpath="/administrator/components/com_jtg/elements"
			type="radio" default="1" label="COM_JTG_MENU_SHOW_SPEEDCHART"
			description="COM_JTG_TT_MENU_SHOW_SPEEDCHART">
			<option value="1">COM_JTG_AUTOMATIC</option>
			<option value="0">JHIDE</option>
		</field>
		<field name="jtg_param_show_heightchart" type="radio"
			addfieldpath="/administrator/components/com_jtg/elements" default="1"
			label="COM_JTG_MENU_SHOW_HEIGHTCHART" description="COM_JTG_TT_MENU_SHOW_HEIGHTCHART">
			<option value="1">COM_JTG_AUTOMATIC</option>
			<option value="0">JHIDE</option>
		</field>
		<field name="jtg_param_disable_map_animated_cursor" addfieldpath="/administrator/components/com_jtg/elements"
			type="radio" default="O" label="COM_JTG_MENU_DISABLE_MAP_ANIMATED_CURSOR"
			description="COM_JTG_TT_MENU_DISABLE_MAP_ANIMATED_CURSOR">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="jtg_param_use_map_autocentering" addfieldpath="/administrator/components/com_jtg/elements"
			type="radio" default="1" label="COM_JTG_MENU_USE_MAP_AUTOCENTERING"
			description="COM_JTG_TT_MENU_USE_MAP_AUTOCENTERING">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="jtg_param_elevation_filter_min_ascent" type="text"
			addfieldpath="/administrator/components/com_jtg/elements" default="10"
			size="3" label="COM_JTG_MENU_ELEVATION_FILTER_MIN_ASCENT" description="COM_JTG_TT_MENU_ELEVATION_FILTER_MIN_ASCENT">
		</field>
		<field name="jtg_param_show_durationcalc" type="radio"
			addfieldpath="/administrator/components/com_jtg/elements" default="1"
			label="COM_JTG_MENU_SHOW_DURATIONCALC" description="COM_JTG_TT_MENU_SHOW_DURATIONCALC">
			<option value="1">COM_JTG_AUTOMATIC</option>
			<option value="0">JHIDE</option>
		</field>
		<field name="jtg_param_show_layerswitcher" type="radio"
			addfieldpath="/administrator/components/com_jtg/elements" default="1"
			label="COM_JTG_MENU_SHOW_LAYER_SWITCHER" description="COM_JTG_TT_MENU_SHOW_LAYER_SWITCHER">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="jtg_param_show_panzoombar" type="radio"
			addfieldpath="/administrator/components/com_jtg/elements" default="1"
			label="COM_JTG_MENU_SHOW_PANZOOMBAR" description="COM_JTG_TT_MENU_SHOW_PANZOOMBAR">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="jtg_param_show_attribution" type="radio"
			addfieldpath="/administrator/components/com_jtg/elements" default="1"
			label="COM_JTG_MENU_SHOW_ATTRIBUTION" description="COM_JTG_TT_MENU_SHOW_ATTRIBUTION">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="jtg_param_show_mouselocation" type="radio"
			addfieldpath="/administrator/components/com_jtg/elements" default="1"
			label="COM_JTG_MENU_SHOW_MOUSELOCATION" description="COM_JTG_TT_MENU_SHOW_MOUSELOCATION">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="jtg_param_show_scale" type="radio"
			addfieldpath="/administrator/components/com_jtg/elements" default="1"
			label="COM_JTG_MENU_SHOW_SCALE" description="COM_JTG_TT_MENU_SHOW_SCALE">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="jtg_param_allow_mousemove" type="radio"
			addfieldpath="/administrator/components/com_jtg/elements" default="1"
			label="COM_JTG_MENU_ALLOW_MOUSEMOVE" description="COM_JTG_TT_MENU_ALLOW_MOUSEMOVE">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="jtg_param_allow_keymove" type="radio"
			addfieldpath="/administrator/components/com_jtg/elements" default="0"
			label="COM_JTG_MENU_ALLOW_KEYMOVE" description="COM_JTG_TT_MENU_ALLOW_KEYMOVE">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field type="spacer" name="myspacer2" class="text"
			label="COM_JTG_MENUSPACER_DOWNLOAD" />
		<field name="jtg_param_offer_download_original" type="radio"
			addfieldpath="/administrator/components/com_jtg/elements" default="1"
			label="COM_JTG_MENU_OFFER_DL_ORIGINAL" description="COM_JTG_TT_MENU_OFFER_DL_ORIGINAL">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="jtg_param_offer_download_gpx" type="radio"
			addfieldpath="/administrator/components/com_jtg/elements" default="1"
			label="COM_JTG_MENU_OFFER_DL_GPX" description="COM_JTG_TT_MENU_OFFER_DL_GPX">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="jtg_param_offer_download_kml" type="radio"
			addfieldpath="/administrator/components/com_jtg/elements" default="1"
			label="COM_JTG_MENU_OFFER_DL_KML" description="COM_JTG_TT_MENU_OFFER_DL_KML">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="jtg_param_offer_download_tcx" type="radio"
			addfieldpath="/administrator/components/com_jtg/elements" default="1"
			label="COM_JTG_MENU_OFFER_DL_TCX" description="COM_JTG_TT_MENU_OFFER_DL_TCX">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field type="spacer" name="myspacer3" class="text"
			label="COM_JTG_MENUSPACER_PERFORMANCE" />
		<field name="jtg_param_tracks" type="radio"
			addfieldpath="/administrator/components/com_jtg/elements" default="0"
			label="COM_JTG_MENU_TRACKS" description="COM_JTG_TT_MENU_TRACKS">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
	</fieldset>
	<fieldset name="ORDERING" label="COM_JTG_TT_TRACKS_LIST">
		<field name="jtg_param_track_ordering" type="list"
			addfieldpath="/administrator/components/com_jtg/elements" default="1"
			label="COM_JTG_MENU_TRACK_ORDERING" description="COM_JTG_TT_TRACK_ORDERING">
			<option value="none">JNONE</option>
			<option value="title_a">COM_JTG_TRACK_ORDER_TITLE_A</option>
			<option value="title_d">COM_JTG_TRACK_ORDER_TITLE_D</option>
			<option value="level_a">COM_JTG_TRACK_ORDER_LEVEL_A</option>
			<option value="level_d">COM_JTG_TRACK_ORDER_LEVEL_D</option>
			<option value="title_a_catid_a">COM_JTG_TRACK_ORDER_TITLE_A_CATID_A</option>
			<option value="title_a_catid_d">COM_JTG_TRACK_ORDER_TITLE_A_CATID_D</option>
			<option value="title_d_catid_a">COM_JTG_TRACK_ORDER_TITLE_D_CATID_A</option>
			<option value="title_d_catid_d">COM_JTG_TRACK_ORDER_TITLE_D_CATID_D</option>
			<option value="hits_a">COM_JTG_TRACK_ORDER_HITS_A</option>
			<option value="hits_d">COM_JTG_TRACK_ORDER_HITS_D</option>
			<option value="catid_a">COM_JTG_TRACK_ORDER_CATID_A</option>
			<option value="catid_d">COM_JTG_TRACK_ORDER_CATID_D</option>
		</field>
		<field name="jtg_param_list_icon_max_height" type="text"
			addfieldpath="/administrator/components/com_jtg/elements" default="24"
			size="3" label="COM_JTG_LIST_ICON_MAX_HEIGHT" description="COM_JTG_TT_LIST_ICON_MAX_HEIGHT" />
		<field name="jtg_param_tracks_list_hide_users" type="radio"
			addfieldpath="/administrator/components/com_jtg/elements" default="0"
			label="COM_JTG_LIST_HIDE_USERS" description="COM_JTG_TT_LIST_HIDE_USERS">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="jtg_param_tracks_list_hide_hits" type="radio"
			addfieldpath="/administrator/components/com_jtg/elements" default="0"
			label="COM_JTG_LIST_HIDE_HITS" description="COM_JTG_TT_LIST_HIDE_HITS">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="jtg_param_tracks_list_hide_icon_category" type="radio"
			addfieldpath="/administrator/components/com_jtg/elements" default="0"
			label="COM_JTG_LIST_HIDE_ICON_CATEGORY" description="COM_JTG_TT_LIST_HIDE_ICON_CATEGORY">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="jtg_param_tracks_list_hide_icon_istrack" type="radio"
			addfieldpath="/administrator/components/com_jtg/elements" default="0"
			label="COM_JTG_LIST_HIDE_ICON_ISTRACK" description="COM_JTG_TT_LIST_ICON_ISTRACK">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="jtg_param_tracks_list_hide_icon_isroundtrip" type="radio"
			addfieldpath="/administrator/components/com_jtg/elements" default="0"
			label="COM_JTG_LIST_HIDE_ICON_ISROUNDTRIP" description="COM_JTG_TT_LIST_HIDE_ICON_ISROUNDTRIP">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="jtg_param_tracks_list_hide_icon_is_wp" type="radio"
			addfieldpath="/administrator/components/com_jtg/elements" default="0"
			label="COM_JTG_LIST_HIDE_ICON_ISWP" description="COM_JTG_TT_LIST_HIDE_ICON_ISWP">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field name="jtg_param_tracks_list_hide_icon_isgeocache" type="radio"
			addfieldpath="/administrator/components/com_jtg/elements" default="0"
			label="COM_JTG_LIST_HIDE_ICON_ISGEOCACHE" description="COM_JTG_TT_LIST_HIDE_ICON_ISGEOCACHE">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
	</fieldset>
	<fieldset name="LIMIT" label="COM_JTG_TT_MENU_LIMIT">
		<field type="spacer" addfieldpath="/administrator/components/com_jtg/elements" />
		<field type="spacer" name="myspacer5" class="text"
			label="COM_JTG_MENUSPACER_LIMITS" />
		<field name="jtg_param_cats" type="ownlist"
			addfieldpath="/administrator/components/com_jtg/elements" label="COM_JTG_LIMIT_CATS"
			description="COM_JTG_TT_MENU_LIMIT_CATS" />
		<!-- <field name="jtg_param_subcats" type="ownlist" label="COM_JTG_CATS_WITH_SUBCATS" 
			description="COM_JTG_TT_MENU_LIMIT_SUBCATS" /> -->
		<field name="jtg_param_user" type="ownlist"
			addfieldpath="/administrator/components/com_jtg/elements" label="COM_JTG_LIMIT_USER"
			description="COM_JTG_TT_MENU_LIMIT_USER" />
		<field name="jtg_param_usergroup" type="ownlist"
			addfieldpath="/administrator/components/com_jtg/elements" label="COM_JTG_LIMIT_GROUP"
			description="COM_JTG_TT_MENU_LIMIT_USERGROUP" />
		<field name="jtg_param_terrain" type="ownlist"
			addfieldpath="/administrator/components/com_jtg/elements" label="COM_JTG_LIMIT_TERRAIN"
			description="COM_JTG_TT_MENU_LIMIT_TERRAIN" />
		<field name="jtg_param_level_from" type="ownlist"
			addfieldpath="/administrator/components/com_jtg/elements" label="COM_JTG_MENU_LEVEL_FROM"
			description="COM_JTG_TT_MENU_LIMIT_LEVEL" />
		<field name="jtg_param_level_to" type="ownlist"
			addfieldpath="/administrator/components/com_jtg/elements" label="COM_JTG_MENU_LEVEL_TO"
			description="COM_JTG_TT_MENU_LIMIT_LEVEL" />
		<field name="jtg_param_vote_from" type="ownlist"
			addfieldpath="/administrator/components/com_jtg/elements" label="COM_JTG_MENU_VOTE_FROM"
			description="COM_JTG_TT_MENU_LIMIT_VOTE" />
		<field name="jtg_param_vote_to" type="ownlist"
			addfieldpath="/administrator/components/com_jtg/elements" label="COM_JTG_MENU_VOTE_TO"
			description="COM_JTG_TT_MENU_LIMIT_VOTE" />
		<field type="spacer" name="myspacer5" class="text" label=" " />
		<field name="jtg_param_limittext" type="ownlist"
			addfieldpath="/administrator/components/com_jtg/elements" label="COM_JTG_FILTER" />
		<field type="spacer" name="myspacer7" class="text" label=" " />
		<field name="jtg_param_helpbutton" type="ownlist"
			addfieldpath="/administrator/components/com_jtg/elements" label="COM_JTG_LIMIT_HELP" />
	</fieldset>
	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC">

		<field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL"
			filter="rules" validate="rules" component="com_jtg" section="component" />
	</fieldset>
</config>


