.errorEntry {
	font-style: italic;
	color: red;
}

.emptyEntry {
	font-style: italic;
	color: grey;
}

.cattree {
	padding-left: 15px;
}

.icon-32-toshow {
	background-image:
		url(../../../components/com_jtg/assets/images/icon_32_toshow.png);
}

.icon-32-tohide {
	background-image:
		url(../../../components/com_jtg/assets/images/icon_32_tohide.png);
}

table.fileis {
	border-collapse: collapse;
	border: 0;
	padding: 0;
	margin: 0;
}

table.fileis span {
	float: none;
	border: 0;
	width: 24px;
	height: 24px;
	margin: 0;
	padding: 0;
	display: block;
}

table.fileis td.icon {
	border: 0;
	width: 24px;
	height: 24px;
	margin: 0;
	padding: 0;
}

table.fileis td.icon span.track0 {
	background-image:
		url(../../../components/com_jtg/assets/images/track0.png);
}

table.fileis td.icon span.track1 {
	background-image:
		url(../../../components/com_jtg/assets/images/track1.png);
}

table.fileis td.icon span.wp0 {
	background-image: url(../../../components/com_jtg/assets/images/wp0.png);
}

table.fileis td.icon span.wp1 {
	background-image: url(../../../components/com_jtg/assets/images/wp1.png);
}

table.fileis td.icon span.route0 {
	background-image:
		url(../../../components/com_jtg/assets/images/route0.png);
}

table.fileis td.icon span.route1 {
	background-image:
		url(../../../components/com_jtg/assets/images/route1.png);
}

table.fileis td.icon span.cache0 {
	background-image:
		url(../../../components/com_jtg/assets/images/cache0.png);
}

table.fileis td.icon span.cache1 {
	background-image:
		url(../../../components/com_jtg/assets/images/cache1.png);
}