/nbproject/private/
/administrator/components/com_jtg/com_jtg.xml
/administrator/components/com_jtg/installuninstallscript.php
/components/com_jtg/uploads/import/
/components/com_jtg/uploads/*.gpx
/components/com_jtg/uploads/*.GPX
/components/com_jtg/uploads/*.kml
/components/com_jtg/uploads/*.KML
.settings
.buildpath
.project
.gitignore~

