/* 
    Document   : jtg_map_style
    Created on : 27 juin 2013, 23:30:28
    Author     : seguinot
    Description: style for openlayers
*/

.olControlLayerSwitcher {
	opacity : 0.8!important;
	margin: 5px;
	top: 40px;
	padding: 5px;
	width: 20em;
	font-family: sans-serif;
	font-weight: bold;
	font-size: smaller;
	color: #4D553D;
	background-color: #D1D6BE;
	border-radius: 4px;
	box-shadow: 0 3px 3px #111;
}
.olControlLayerSwitcher .layersDiv {
	background-color: transparent!important;
	opacity : 1!important;
}
.olControlLayerSwitcher div{
	background-color: transparent!important;
}
.olControlLayerSwitcher .minimizeDiv {
	right: 0px;
	left : auto;
}
.olControlLayerSwitcher .maximizeDiv {
	right: 0px;
	top: 0px;
	left : auto;
}
.olControlLayerSwitcher .baseLbl {
	font-size: small;
}

.olControlZoom {
	top : auto;
	bottom: 45px!important;
	height: 25px;
	left: 10px;
	box-shadow: 0 3px 3px #888;
}
/* Style for FullScreen*/
.olControlNavToolbar {
	text-align: center;
	top : 5px!important;
	left : auto!important;
	right: 5px;	
	margin : 0;
	background-color: #D1D6BE;
	border-radius: 4px;
	box-shadow: 0 3px 3px #888;
}
.olControlNavigationItemActive, .olControlNavigationItemInactive,
.olControlZoomBoxItemActive, .olControlZoomBoxItemInactive {
    float: left !important;
    margin: 2px !important;
    /* display: none;   desactivated*/
}

.olControlNavToolbar div, .olControlEditingToolbar div {
    margin: 2px;
    width: 24px;
    height: 22px;
    cursor: pointer;
}
.olControlNavToolbar 
.olControlNavigationItemActive, 
.olControlEditingToolbar 
.olControlNavigationItemActive {
    background-position: -103px -24px;
}
.olControlNavToolbar 
.olControlZoomBoxItemInactive {
    background-position: -128px -1px;
}


.buttonFullScreenItemInactive
{
	float : left!important;
	margin : 2px!important;
	cursor: pointer;
	background-image:url("ol_images/view_fullscreen.png")!important;	
}
.buttonFullScreenItemActive
{
	float : left!important;
	margin : 2px!important;
	cursor: pointer;
	background-image:url("ol_images/leave_fullscreen.png")!important;	
}
#jtg_map.olMap { /* this is for normal size map */
	z-index: 0;
}
#jtg_map.fullscreen {/* this is for fullscreen map */
	position: fixed;
	padding: 0 !important;
	margin: 0 !important;
	cursor: default;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: 0;
	z-index: 20;
}
#charts_container {
	height: 250px;
	width: 500px;
}
