/* 
    Document   : style.css
    Created on : 19.09.2010
    Last edit  : 12.02.2011
    Author     : J!Track Gallery, InJooosm and joomGPStracks teams
*/
.emptyEntry {
	font-style: italic;
	color: grey;
}

/* the default rating is placed as a background image in the ul */
/* use the background position according to the table above to display the required images*/
/* Anchor-Links in single Trackview */
tr.sectiontableheader th {
	background-color: #cccccc;
	color: black;
	padding: 4px;
}

tr.sectiontableheader th a {
	color: black;
}

tr.sectiontableentry0 td {
	background-color: #f2f2f2;
}

tr.sectiontableentry1 td {
	background-color: #e6e6e6;
}

a.anchor:link,a.anchor:visited,a.anchor:hover,a.anchor:active {
	display: block;
	font-size: 1.2em;
	font-weight: bold;
	padding: 5px 0 5px 0;
	width: 100%;
	color: #2B2B2B;
	background-color: transparent;
	text-decoration: none;
}

a.anchor:hover {
	background-color: #E8E8FF;
}

.rating {
	width: 160px;
	height: 16px;
	margin: 0 0 20px 0;
	padding: 0;
	list-style: none;
	clear: both;
	position: relative;
	background: url(images/star-matrix.gif) no-repeat 0 0;
}

/* add these classes to the ul to effect the change to the correct number of stars */
.nostar {
	background-position: 0 0
}

.onestar {
	background-position: 0 -16px
}

.twostar {
	background-position: 0 -32px
}

.threestar {
	background-position: 0 -48px
}

.fourstar {
	background-position: 0 -64px
}

.fivestar {
	background-position: 0 -80px
}

.sixstar {
	background-position: 0 -96px
}

.sevenstar {
	background-position: 0 -112px
}

.eightstar {
	background-position: 0 -128px
}

.ninestar {
	background-position: 0 -144px
}

.tenstar {
	background-position: 0 -160px
}

ul.rating li {
	cursor: pointer;
	/*ie5 mac doesn't like it if the list is floated\*/
	float: left;
	/* end hide*/
	text-indent: -999em;
}

ul.rating li a {
	position: absolute;
	left: 0;
	top: 0;
	width: 16px;
	height: 16px;
	text-decoration: none;
	z-index: 200;
}

ul.rating li.one a {
	left: 0
}

ul.rating li.two a {
	left: 16px;
}

ul.rating li.three a {
	left: 32px;
}

ul.rating li.four a {
	left: 48px;
}

ul.rating li.five a {
	left: 64px;
}

ul.rating li.six a {
	left: 80px;
}

ul.rating li.seven a {
	left: 96px;
}

ul.rating li.eight a {
	left: 112px;
}

ul.rating li.nine a {
	left: 128px;
}

ul.rating li.ten a {
	left: 144px;
}

ul.rating li a:hover {
	z-index: 2;
	width: 160px;
	height: 16px;
	overflow: hidden;
	left: 0;
	background: url(images/star-matrix.gif) no-repeat 0 0
}

ul.rating li.one a:hover {
	background-position: 0 -176px;
}

ul.rating li.two a:hover {
	background-position: 0 -192px;
}

ul.rating li.three a:hover {
	background-position: 0 -208px
}

ul.rating li.four a:hover {
	background-position: 0 -224px
}

ul.rating li.five a:hover {
	background-position: 0 -240px
}

ul.rating li.six a:hover {
	background-position: 0 -256px
}

ul.rating li.seven a:hover {
	background-position: 0 -272px
}

ul.rating li.eight a:hover {
	background-position: 0 -288px
}

ul.rating li.nine a:hover {
	background-position: 0 -304px
}

ul.rating li.ten a:hover {
	background-position: 0 -320px
}

/* end rating code */
h3 {
	margin: 0 0 2px 0;
	font-size: 110%
}

/* slideshow */
#myGallery,#myGallerySet,#flickrGallery {
	width: 460px;
	height: 345px;
	z-index: 5;
	border: 1px solid #000;
	margin: auto;
	margin-top: 20px;
}

#flickrGallery {
	width: 500px;
	height: 334px;
}

#myGallery img.thumbnail,#myGallerySet img.thumbnail {
	display: none;
}

.jdGallery {
	overflow: hidden;
	position: relative;
}

.jdGallery img {
	border: 0;
	margin: 0;
}

.jdGallery .slideElement {
	width: 100%;
	height: 100%;
	background-color: #000;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url('images/loading-bar-black.gif');
}

.jdGallery .loadingElement {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #000;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url('images/loading-bar-black.gif');
}

.jdGallery .slideInfoZone {
	position: absolute;
	z-index: 10;
	width: 100%;
	margin: 0px;
	left: 0;
	bottom: 0;
	height: 40px;
	background: #333;
	color: #fff;
	text-indent: 0;
	overflow: hidden;
}

* html .jdGallery .slideInfoZone {
	bottom: -1px;
}

.jdGallery .slideInfoZone h2 {
	padding: 0;
	font-size: 80%;
	margin: 0;
	margin: 2px 5px;
	font-weight: bold;
	color: inherit;
}

.jdGallery .slideInfoZone p {
	padding: 0;
	font-size: 60%;
	margin: 2px 5px;
	color: #eee;
}

.jdGallery div.carouselContainer {
	position: absolute;
	height: 135px;
	width: 100%;
	z-index: 10;
	margin: 0px;
	left: 0;
	top: 0;
}

.jdGallery a.carouselBtn {
	position: absolute;
	bottom: 0;
	right: 30px;
	height: 20px;
	/*width: 100px; background: url('images/carousel_btn.gif') no-repeat;*/
	text-align: center;
	padding: 0 10px;
	font-size: 13px;
	background: #333;
	color: #fff;
	cursor: pointer;
}

.jdGallery .carousel {
	position: absolute;
	width: 100%;
	margin: 0px;
	left: 0;
	top: 0;
	height: 115px;
	background: #333;
	color: #fff;
	text-indent: 0;
	overflow: hidden;
}

.jdExtCarousel {
	overflow: hidden;
	position: relative;
}

.jdGallery .carousel .carouselWrapper,.jdExtCarousel .carouselWrapper {
	position: absolute;
	width: 100%;
	height: 78px;
	top: 10px;
	left: 0;
	overflow: hidden;
}

.jdGallery .carousel .carouselInner,.jdExtCarousel .carouselInner {
	position: relative;
}

.jdGallery .carousel .carouselInner .thumbnail,.jdExtCarousel .carouselInner .thumbnail
	{
	cursor: pointer;
	background: #000;
	background-position: center center;
	float: left;
	border: solid 1px #fff;
}

.jdGallery .wall .thumbnail,.jdExtCarousel .wall .thumbnail {
	margin-bottom: 10px;
}

.jdGallery .carousel .label,.jdExtCarousel .label {
	font-size: 13px;
	position: absolute;
	bottom: 5px;
	left: 10px;
	padding: 0;
	margin: 0;
}

.jdGallery .carousel .wallButton,.jdExtCarousel .wallButton {
	font-size: 10px;
	position: absolute;
	bottom: 5px;
	right: 10px;
	padding: 1px 2px;
	margin: 0;
	background: #222;
	border: 1px solid #888;
	cursor: pointer;
}

.jdGallery .carousel .label .number,.jdExtCarousel .label .number {
	color: #b5b5b5;
}

.jdGallery a {
	font-size: 100%;
	text-decoration: none;
	color: inherit;
	margin: 0;
	padding: 0;
}

.jdGallery a.right,.jdGallery a.left {
	position: absolute;
	height: 99%;
	width: 25%;
	cursor: pointer;
	z-index: 10;
	filter: alpha(opacity =                                     20);
	-moz-opacity: 0.2;
	-khtml-opacity: 0.2;
	opacity: 0.2;
}

* html .jdGallery a.right,* html .jdGallery a.left {
	filter: alpha(opacity =                                     50);
}

.jdGallery a.right:hover,.jdGallery a.left:hover {
	filter: alpha(opacity =                                     80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

.jdGallery a.left {
	left: 0;
	top: 0;
	background: url('images/fleche1.png') no-repeat center left;
}

* html .jdGallery a.left {
	background: url('images/fleche1.gif') no-repeat center left;
}

.jdGallery a.right {
	right: 0;
	top: 0;
	background: url('images/fleche2.png') no-repeat center right;
}

* html .jdGallery a.right {
	background: url('images/fleche2.gif') no-repeat center right;
}

.jdGallery a.open {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.withArrows a.open {
	position: absolute;
	top: 0;
	left: 25%;
	height: 99%;
	width: 50%;
	cursor: pointer;
	z-index: 10;
	background: none;
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

.withArrows a.open:hover {
	background: url('images/open.png') no-repeat center center;
}

* html .withArrows a.open:hover {
	background: url('images/open.gif') no-repeat center center;
	filter: alpha(opacity =                                     80);
}

/* Gallery Sets */
.jdGallery a.gallerySelectorBtn {
	z-index: 15;
	position: absolute;
	top: 0;
	left: 30px;
	height: 20px;
	/*width: 100px; background: url('images/carousel_btn.gif') no-repeat;*/
	text-align: center;
	padding: 0 10px;
	font-size: 13px;
	background: #333;
	color: #fff;
	cursor: pointer;
	opacity: .4;
	-moz-opacity: .4;
	-khtml-opacity: 0.4;
	filter: alpha(opacity =                                     40);
}

.jdGallery .gallerySelector {
	z-index: 20;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #000;
}

.jdGallery .gallerySelector h2 {
	margin: 0;
	padding: 10px 20px 10px 20px;
	font-size: 20px;
	line-height: 30px;
	color: #fff;
}

.jdGallery .gallerySelector .gallerySelectorWrapper {
	overflow: hidden;
}

.jdGallery .gallerySelector .gallerySelectorInner div.galleryButton {
	margin-left: 10px;
	margin-top: 10px;
	border: 1px solid #888;
	padding: 5px;
	height: 40px;
	color: #fff;
	cursor: pointer;
	float: left;
}

.jdGallery .gallerySelector .gallerySelectorInner div.hover {
	background: #333;
}

.jdGallery .gallerySelector .gallerySelectorInner div.galleryButton div.preview
	{
	background: #000;
	background-position: center center;
	float: left;
	border: none;
	width: 40px;
	height: 40px;
	margin-right: 5px;
}

.jdGallery .gallerySelector .gallerySelectorInner div.galleryButton h3 {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-weight: normal;
}

.jdGallery .gallerySelector .gallerySelectorInner div.galleryButton p.info
	{
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-weight: normal;
	color: #aaa;
}

/* multiupload */
div.multiupload {
	float: left;
	padding-top: 3px;
}

div.multiupload div.list {
	background: #fff;
}

div.multiupload div.list div.item {
	margin: 1px;
	background: #eee;
}

div.multiupload div.list div.item:hover {
	background: #ccc;
}

div.multiupload div.list img {
	float: left;
	margin: 3px;
	cursor: pointer;
}

/* some rules for IE8 compatibility */
v\:rect,v\:roundrect,v\:line,v\:polyline,v\:curve,v\:arc,v\:oval,v\:image,v\:shape,v\:group,v\:skew,v\:stroke,v\:fill,v\:background
	{
	behavior: url(#default#VML);
	display: inline-block
}

#jtg_param_catlayer {
	float: left;
	margin-left: 20px;
}

#count-box {
	margin: 0 10px;
	border: 1px solid #aaa6a6;
	background-color: #FFFFFF;
	padding: 20px;
}

.tracktable {
	width: 100%;
}

.tracktable TD,  .tracktable  TR,  .tracktable img{
	padding: 0px;
}
.tracktable a,.tracktable a:hover,.tracktable a:active {
	text-decoration: none;
}

.tracktitle {
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 10px;
	border-bottom: 1px solid #000;
	padding-bottom: 10px;
}

.gps-info {
	margin: auto;
	padding: 10px 10px 10px 10px;
}

span label {
	text-align: left;
	margin-right: 5px;
}

.gps-footer {
	text-align: right;
	display: block;
	font-size: 0.8em;
	margin-top: 25px;
	color: silver;
}

.gps-navi {
	padding: 10px;
	background-color: silver;
	background-image: url(images/nav_bg.png);
	background-repeat: repeat-x;
	margin: 0 0 20px 0;
	border: 1px solid #aaa6a6;
	height: 30px;
}

.gps-navi div {
	display: block;
}

.gps-navi a {
	text-decoration: none;
	}

.gps-navi,
.navi-part ,
.gps-navi a 
{
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.container { width: 100%; }

.gps-navi a:hover,.gps-navi a:active {
	text-decoration: none;
	color: #FFF;
}

.navi-part {
	float: left;
	margin: 5px 10px;
	font-weight: bold;*
}

.no-float {
	clear: both;
}

.toptracks_1,.toptracks_2,.toptracks_3,.toptracks_4 {
	margin: 20px 1% 0 1%;
	border: 1px solid #aaa6a6;
	float: left;
}

.toptracks_1 {
	width: 98%;
}

.toptracks_2 {
	width: 47.5%;
}

.toptracks_3 {
	width: 30.5%;
}

.toptracks_4 {
	width: 22.5%;
}

.toptracks_1_title span,.toptracks_1_entry span,.toptracks_2_title span,.toptracks_2_entry span,.toptracks_3_title span,.toptracks_3_entry span,.toptracks_4_title span,.toptracks_4_entry span
	{
	color: #666666;
	font-size: 1.2em;
	font-weight: bold;
	/*     text-transform:uppercase; */
	line-height: 1.4em;
	text-align: center;
	padding-top: 3px;
	padding-left: 5px;
	padding-right: 5px;
	display: block;
	border-bottom: 1px solid #aaa6a6;
	background-color: silver;
	background-image: url(images/list_bg.png);
	background-repeat: repeat-x;
}

.toptracks_1_title ul.title,.toptracks_2_title ul.title,.toptracks_3_title ul.title,.toptracks_4_title ul.title
	{
	list-style-type: none;
}

.toptracks_1_entry ul.entry,.toptracks_2_entry ul.entry,.toptracks_3_entry ul.entry,.toptracks_4_entry ul.entry
	{
	list-style-image: url(images/list.png);
}

.toptracks_1_entry,.toptracks_2_entry,.toptracks_3_entry,.toptracks_4_entry,.toptracks_1_title ul,.toptracks_2_title ul,.toptracks_3_title ul,.toptracks_4_title ul
	{
	padding-left: 30px;
}

.toptracks_1_title ul.entry,.toptracks_1_entry ul.entry {
	margin-left: 0px;
}

.toptracks_2_title ul.entry,.toptracks_2_entry ul.entry {
	margin-left: -2px;
}

.toptracks_3_title ul.entry,.toptracks_3_entry ul.entry {
	margin-left: -5px;
}

.toptracks_4_title ul.entry,.toptracks_4_entry ul.entry {
	margin-left: -10px;
}

.toptracks_1_entry ul a,.toptracks_1_title ul a,.toptracks_2_entry ul a,.toptracks_2_title ul a,.toptracks_3_entry ul a,.toptracks_3_title ul a,.toptracks_4_entry ul a,.toptracks_4_title ul a
	{ /* BoxEntry Link */
	color: #555555;
}

.toptracks_1_entry ul a.access_9:hover,.toptracks_1_title ul a.access_9:hover,.toptracks_2_entry ul a.access_9:hover,.toptracks_2_title ul a.access_9:hover,.toptracks_3_entry ul a.access_9:hover,.toptracks_3_title ul a.access_9:hover,.toptracks_4_entry ul a.access_9:hover,.toptracks_4_title ul a.access_9:hover
	{ /* BoxEntry Link access for Public */
	color: orange;
}

.toptracks_1_entry ul a.access_0:hover,.toptracks_1_title ul a.access_0:hover,.toptracks_2_entry ul a.access_0:hover,.toptracks_2_title ul a.access_0:hover,.toptracks_3_entry ul a.access_0:hover,.toptracks_3_title ul a.access_0:hover,.toptracks_4_entry ul a.access_0:hover,.toptracks_4_title ul a.access_0:hover
	{ /* BoxEntry Link access for Public */
	color: #008001; /* green */
}

.toptracks_1_entry ul a.access_1:hover,.toptracks_1_title ul a.access_1:hover,.toptracks_2_entry ul a.access_1:hover,.toptracks_2_title ul a.access_1:hover,.toptracks_3_entry ul a.access_1:hover,.toptracks_3_title ul a.access_1:hover,.toptracks_4_entry ul a.access_1:hover,.toptracks_4_title ul a.access_1:hover
	{ /* BoxEntry Link access for Registered */
	color: #004000; /* dark green */
}

.toptracks_1_entry ul a.access_2:hover,.toptracks_1_title ul a.access_2:hover,.toptracks_2_entry ul a.access_2:hover,.toptracks_2_title ul a.access_2:hover,.toptracks_3_entry ul a.access_2:hover,.toptracks_3_title ul a.access_2:hover,.toptracks_4_entry ul a.access_2:hover,.toptracks_4_title ul a.access_2:hover
	{ /* BoxEntry Link access for Special */
	color: red;
}

.toptracks_1 span a,.toptracks_2 span a,.toptracks_3 span a,.toptracks_4 span a
	{ /* Boxheader */
	color: #666666;
	font-weight: bold;
	text-align: center;
	display: block;
}

.list-left {
	float: left;
	/*	width: 45%;*/
}

.list-right {
	float: right;
	padding: 0 20px 0 5px;
	/*	width: 45%;
*/
}

.gps-headline {
	display: block;
	font-size: 1.2em;
	font-weight: bold; /*
	text-transform: uppercase; */
	padding: 5px 0 5px 0;
	width: 100%;
	border-bottom: 1px solid #000;
}

.description {
	padding: 10px 0 10px 10px;
	width: 100%;
	background-color: #FFFFFF;
}

#gps-time {
	margin: 0 20px 0 20px;
	background-color: #FFFFFF;
	border: 1px solid #aaa6a6;
}

#ratingbox {
	left: 0;
	margin-right: 150px;
	float: left;
}

#downloadbox {
	float: left;
}

.profile-img {
	margin: auto;
	display: block;
}

#profile {
	margin: auto;
	background-color: #efeef0;
	background-image: url(images/profile_bg.png);
	background-repeat: repeat-y;
	padding: 8px 8px 8px 8px;
	border: 1px solid #aaa6a6;
}

.comments {
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 10px;
	border-bottom: 1px solid #000;
	padding-bottom: 10px;
	margin-top: 25px;
}

.comment {
	border: 1px solid #aaa6a6;
	margin-bottom: 20px;
}

.comment-header {
	height: 25px;
	background-image: url(images/list_bg.png);
	background-repeat: repeat-x;
	padding: 2px 0 0 25px;
}

.comment-title {
	font-weight: bold;
	font-size: 1.1em;
	float: left;
}

.date {
	text-align: right;
	float: right;
	padding-right: 10px;
}

.comment-autor {
	float: left;
	padding: 5px 20px 0 10px;
	width: 100px;
}

.comment-text {
	float: left;
	display: inline;
	padding: 5px 20px 20px 20px;
	width: 400px;
	overflow: hidden;
	border-left: 1px solid #aaa6a6;
}

.comment-form {
	width: 100%;
	border: 1px solid #aaa6a6;
	padding-bottom: 10px;
}

.comment-form th {
	height: 25px;
	background-image: url(images/list_bg.png);
	background-repeat: repeat-x;
	padding: 1px 0 0 25px;
}

.comment-form label {
	padding-left: 10px;
}


/* Pagination on frontend  (from bluestork Joomla 2.5 admin style) */
table.adminlist tfoot tr {
	color: #2c2c2c;
}

	/* Table td/th styles */
table.adminlist tfoot td,table.adminlist tfoot th {
	background-color: #ffffff;
	border-top: 1px solid #738498;
}

.jtgpagination a {
	border-top-width: 0px;
	border-bottom-width: 0px;
}


.button2jtg-left,
.button2jtg-right,
.button2jtg-left div,
.button2jtg-right div {
	float: left;
}
.button2jtg-left a,
.button2jtg-right a,
.button2jtg-left button,
.button2jtg-right button,
.button2jtg-left span,
.button2jtg-right span {
	display: block;
	height: 22px;
	float: left;
	line-height: 22px;
	font-size: 1em;
	color: #333;
	cursor: pointer;
}

.button2jtg-left span,.button2jtg-right span {
	cursor: default;
	color: #999;
}

.button2jtg-left .page a,
.button2jtg-right .page a,
.button2jtg-left .page span,
.button2jtg-right .page span,
.button2jtg-left .blank a,
.button2jtg-right .blank a,
.button2jtg-left .blank span,
.button2jtg-right .blank span,
.button2jtg-left .blank button,
.button2jtg-right .blank button {
	padding: 0 6px;
}

.page span,.blank span {
	color: #000;
	font-weight: bold;
}

.button2jtg-left a:hover,
.button2jtg-right a:hover,
.button2jtg-left button:hover,
.button2jtg-left button:hover	{
	text-decoration: none;
	color: #0B55C4;
}

.button2jtg-left a,
.button2jtg-left span,
.button2jtg-left button {
	padding: 0 24px 0 6px;
}

.button2jtg-right a,
.button2jtg-right span,
.button2jtg-right button {
	padding: 0 6px 0 24px;
}

.button2jtg-left {
	background: url(../../images/pagination/j_button2_left.png) no-repeat;
	float: left;
	margin-right: 10px;
}

.button2jtg-right {
	background: url(../../images/pagination/j_button2_right.png) 100% 0 no-repeat;
	float: left;
	margin-left: 5px;
	margin-right: 10px;
}


.button2jtg-right .prev 		{	background: url(../../images/pagination/j_button2_prev.png) no-repeat; }
.button2jtg-right.off .prev 	{	background: url(../../images/pagination/j_button2_prev_off.png) no-repeat; }
.button2jtg-right .start 		{	background: url(../../images/pagination/j_button2_first.png) no-repeat; }
.button2jtg-right.off .start 	{	background: url(../../images/pagination/j_button2_first_off.png) no-repeat; }
.button2jtg-left .page,
.button2jtg-left .blank 		{	background: url(../../images/pagination/j_button2_right_cap.png) 100% 0 no-repeat; }
.button2jtg-left .next 		{	background: url(../../images/pagination/j_button2_next.png) 100% 0 no-repeat; }
.button2jtg-left.off .next 	{	background: url(../../images/pagination/j_button2_next_off.png) 100% 0 no-repeat; }
.button2jtg-left .end 			{	background: url(../../images/pagination/j_button2_last.png) 100% 0 no-repeat; }
.button2jtg-left.off .end 		{	background: url(../../images/pagination/j_button2_last_off.png) 100% 0 no-repeat; }
.button2jtg-left .image 		{	background: url(../../images/pagination/j_button2_image.png) 100% 0 no-repeat; }
.button2jtg-left .readmore 	{	background: url(../../images/pagination/j_button2_readmore.png) 100% 0 no-repeat; }
.button2jtg-left .pagebreak 	{	background: url(../../images/pagination/j_button2_pagebreak.png) 100% 0 no-repeat; }
.button2jtg-left .blank 		{	background: url(../../images/pagination/j_button2_blank.png) 100% 0 no-repeat; }
.button2jtg-left .article 		{	background: url(../../images/pagination/j_button2_readmore.png) 100% 0 no-repeat; }

div.button2jtg-left button {
	background: transparent;
	margin-top: 0;
	border: 0 solid #ccc;
}

div.button2jtg-left button {
	background: transparent;
	border: 0 solid #aaa;
}
/* is-xxx icons */


span.fileis img {
    float: left; 
    border: 0 none;
    margin-right: 2px;
    padding: 0;
    display: inline;
}

/* end is-xxx icons*/

