/* 
    Document   : jtg_map_style
    Created on : 27 juin 2013, 23:30:28
    Author     : seguinot
    Description: style for openlayers
*/

/* 
 svg, label,input  used by joomla 3.x css must be redefined for olMap	
*/
#jtg_map svg {
	max-width: none;
}

#jtg_map label {
	font-family: Roboto, Arial, sans-serif;
	/* Roboto used by Google Maps , added to avoid font resizing when GoogleMaps selected*/
	font-size: 12px;
	font-weight: inherit;
	line-height: inherit;
	display: inline;
	margin-bottom: 0px;
	margin-top: 0px;
}

.olMap input,.olMap button,#jtg_map.olButton,.olMap select,.olMap textarea
	{
	font-size: 12px;
}

.ol-attribution {
	bottom: 0.2em;
}

.ol-mouse-position {
	left: 8px;
	right: auto;
}

#jtg_map.olMap { /* this is for normal size map */
	z-index: 0;
}

#jtg_map.fullscreen { /* this is for fullscreen map */
	position: fixed;
	padding: 0 !important;
	margin: 0 !important;
	cursor: default;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: 0;
	z-index: 20;
}

#charts_container {
	height: 250px;
	width: 500px;
}

/* Style for pop up (old?) */
.olPopup img { max-width: none ! important; }

img.olTileImage {
        max-width: none !important;
}

/* styles for popups */
.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px; 
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}
.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}
.ol-popup-closer:after {
    content: "✖";
}
#popup-content {
    max-height: 250px;
    overflow-y: auto;
}

